__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/
.env
.DS_Store
*.db
*.sqlite
*.sqlite3
.idea/
.vscode/
*.log
.pytest_cache/
htmlcov/
.coverage
.mypy_cache/
node_modules/
